{% load static %} <!--Load all files from static folder-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quotes Roster</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> <!-- Include trash icon-->
    <link rel="icon" type="image/x-icon" href="{% static '/catchUpFavicon.png' %}">
    <script src="https://cdn.tailwindcss.com"></script>

    <!--Add roster js file-->
    <script src="{% static 'roster.js' %}"></script>
</head>
<body class="bg-blue-500">

    <nav class="flex justify-between items-center bg-orange-400 bg-orange-400 text-white shadow-md p-4">
        <h2 class="text-white text-3xl">{{server_name}}'s Quotes</h2>
        <button onclick="document.getElementById('homeLink').click();" class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a id="homeLink" class="text-lg" href="/">Home</a></button>
    </nav>

    <div class="container mx-auto mt-6 w-4/5" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">

        <!--Search Bar-->
        <input type="text" id="quoteSearchBar" placeholder="Search for quotes here!" class="bg-gray-50 border-2 border border-black text-gray-900 text-sm rounded-lg focus:ring-orange-400 focus:border-orange-400 block w-1/3 p-2.5">

        <!--Search button-->
        <button onclick="searchForQuote()" id="updateRosterButton" class="bg-blue-50 hover:bg-orange-400 text-black py-2 px-4 border border-blue-700 rounded p-8">
            Search
        </button>

        <!--People Dropdown menu-->
        <button id="dropdownButton" onclick="makeDropdownVisible()" class="bg-blue-50 hover:bg-orange-400 text-black py-2 px-4 border border-blue-700 rounded p-8">
            People
        </button>
        <div id="dropdownMenu" class="absolute left-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg opacity-0 invisible transition-all duration-200 p-2">
        </div>
        
        <!--Swap date button-->
        <button onclick="swapDateOrder()" id="sortDateButton" class="bg-blue-50 hover:bg-orange-400 text-black py-2 px-4 border border-blue-700 rounded p-8 w-1/6">
            Sort date: Descending
        </button>

    </div>

    <!-- Delete button
    <button class="bg-white hover:bg-red-500 p-2 rounded flex items-center justify-center border border-gray-300 transition duration-200">
        <i class="fas fa-trash-alt text-gray-600"></i>
    </button>
    -->
    <!-- shadow-md border-1 border border-black -->
    <!--Loop through all quotes and give them each a nice roster slot-->
    <div id="allQuotes" class="">
        {% for item in data %}
            <div>
                <div class="catchUpQuote">
                    <p class="text-gray-800 float-left catchUpQuoteText">{{item.quote}} -</p>
                    <p class="text-gray-800 float-left pl-1 catchUpQuoteAuthor">{{item.author}}</p>
                    <p class="text-gray-800 float-right catchUpQuoteDate">({{item.date_quoted}})</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container mx-auto mt-6 mb-4 w-4/5" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
        <button class="bg-blue-50 hover:bg-orange-400 text-black py-2 px-4 border border-blue-700 rounded p-8">Stats</button>
        <button onclick="document.getElementById('mingamesLink').click();" class="bg-blue-50 hover:bg-orange-400 text-black py-2 px-4 border border-blue-700 rounded p-8"><a id="mingamesLink" class="text-lg" href="minigames">Minigames</a></button>
    </div>

</body>
</html>