{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{user.discord_tag}}'s Servers</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

<body class="bg-blue-500 flex justify-center items-center min-h-screen">
    <nav class="bg-orange-400 text-white shadow-md fixed top-0 left-0 w-full z-10">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
          <h2 class="text-4xl font-semibold">Catch Up!</h2>
          <div class="space-x-4">
            <button class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a class="text-lg" href="/">Home</a></button>
            <button class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a class="text-lg" href="../about/">About</a></button>
            <button class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a class="text-lg" href="https://github.com/yearlongmason/Catch-Up">Github</a></button>
          </div>
        </div>
      </nav>
    
    <div class="bg-orange-400 border-2 border-solid border-black p-4 rounded-lg text-white flex flex-col items-center">
        <h1 class="text-4xl font-bold mb-4"> {{user.discord_tag}}'s Servers </h1>
        <form method="POST">
        {% csrf_token %}
        <table>
        {% for server in mutual_servers %}
        <tr> 
            <td>
                <button type="submit" name="btn" value={{server.0.id}} class="text-blue-600 hover:text-blue-50 w-full p-3 rounded-md bg-blue-50 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    <div>{{server.0.name}}</div>
                </button>
        </td>
        </tr>
            {% endfor %}
        </form>
    </table>
    </div>
</body>
{% endblock content %}
</html>


