{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servers</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-500 flex justify-center items-center min-h-screen">
    
    <div class="bg-blue-500 border-2 border-solid border-black p-4 rounded-lg text-white flex flex-col items-center">
        <h1 class="text-4xl font-bold mb-4"> {{user.discord_tag}}'s Servers </h1>
        <form method="POST">
        {% csrf_token %}
        <table>
        {% for server in mutual_servers %}
        <tr> 
            <td>
                <button type="submit" name="btn" value={{server.0.id}} class="w-full p-3 bg-gray-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    <div>{{server.0.name}}</div>
                </button>
        </td>
        </tr>
            {% endfor %}
        </form>
    </table>
    </div>
</body>
{% endblock content %}
</html>


