{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stats Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="{% static '/catchUpFavicon.png' %}">

  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!--Add stats js file-->
  <script src="{% static 'stats.js' %}"></script>
</head>
<body class="bg-blue-500 text-gray-800">

    <!--This is used to get all quotes to the JavaScript-->
    <div id="allQuotes" class="">
        {% for item in data %}
            <div class="hidden">
                <div class="catchUpQuote">
                    <p class="catchUpQuoteID">{{item.quote_id}}</p>
                    <p class="text-gray-800 float-left catchUpQuoteText">{{item.quote}}</p>
                    <p class="text-gray-800 float-left pl-1 catchUpQuoteAuthor">{{item.author}}</p>
                    <p class="text-gray-800 float-right catchUpQuoteDate">{{item.date_quoted}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
  
    <!-- Navbar -->
    <nav class="bg-orange-400 text-white shadow-md top-0 left-0 w-full z-10">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
          <h2 class="text-4xl font-semibold">Catch Up!</h2>
          <div class="flex flex-nowrap space-x-4">
            <button onclick="document.getElementById('homeLink').click();" class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a id="homeLink" class="text-lg" href="/">Home</a></button>
            <button onclick="document.getElementById('aboutLink').click();" class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a id="aboutLink" class="text-lg" href="../../../about/">About</a></button>
            <button onclick="document.getElementById('githubLink').click();" class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a id="githubLink" target="_blank" class="text-lg" href="https://github.com/yearlongmason/Catch-Up">Github</a></button>
            <button onclick="history.back();" class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded text-lg">Back</button>
          </div>
        </div>
    </nav>

    <div id="dataViz" class="container mx-auto p-6">

        <!--Most quoted user banner-->
        <div class="bg-orange-400 text-white p-6 rounded-lg mb-8 shadow-md flex items-center justify-between">
            <div class="flex items-center space-x-4">
                <span class="text-3xl font-semibold">Most Quoted User:</span>
                <span id="mostQuotedUser" class="text-3xl font-semibold hidden">John Doe</span>
            </div>
            <span id="numberOfQuotes" class="text-3xl font-medium hidden">N Quotes</span>
        </div>
    
        <!-- 2x2 Grid for Visualizations -->
        <div class="grid grid-cols-2 gap-6">
            <div class="bg-white p-4 rounded shadow-md">
                <h2 class="text-xl font-semibold mb-4">Number of Quotes per Author</h2>
                <!-- Chart -->
                <div class="bg-white h-240 rounded-md relative">
                    <canvas id="numQuotesByAuthor" class="w-full h-full"></canvas>
                </div>
            </div>
    
            <div class="bg-white p-4 rounded shadow-md">
                <h2 class="text-xl font-semibold mb-4">Most Frequently Quoted Words</h2> <!--Bar Chart-->
                <!-- Chart -->
                <div class="bg-white h-240 rounded-md relative">
                    <canvas id="wordFrequencyChart" class="w-full h-full"></canvas>
                </div>
            </div>
    
            <div class="bg-white p-4 rounded shadow-md">
                <h2 class="text-xl font-semibold mb-4">Number of Quotes per Month</h2> <!--Histogram-->
                <!-- Chart -->
                <div class="bg-white h-240 rounded-md relative">
                    <canvas id="quotesOverTime" class="w-full h-full"></canvas>
                </div>
            </div>
    
            <div class="bg-white p-4 rounded shadow-md">
                <h2 class="text-xl font-semibold mb-4">Quote Length Distribution</h2> <!--Line Chart-->
                <!-- Chart -->
                <div class="bg-white h-240 rounded-md relative">
                    <canvas id="quotesLengthDistribution" class="w-full h-full"></canvas>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
