{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentence Scramble Game</title>
    <link rel="icon" type="image/x-icon" href="{% static '/catchUpFavicon.png' %}">
    <!-- Include Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'wordScramble.js' %}"></script>
</head>
<body class="bg-blue-500 text-gray-800 flex items-center justify-center min-h-screen">
    <nav class="bg-orange-400 text-white shadow-md fixed top-0 left-0 w-full z-10">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
          <h2 class="text-4xl font-semibold">Catch Up!</h2>
          <div class="flex flex-nowrap space-x-4">
            <button onclick="document.getElementById('homeLink').click();" class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a id="homeLink" class="text-lg" href="/">Home</a></button>
            <button onclick="document.getElementById('aboutLink').click();" class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a id="aboutLink" class="text-lg" href="../../../../about/">About</a></button>
            <button onclick="document.getElementById('githubLink').click();" class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded"><a id="githubLink" target="_blank" class="text-lg" href="https://github.com/yearlongmason/Catch-Up">Github</a></button>
            <button onclick="history.back();" class="text-blue-600 hover:text-blue-50 bg-blue-50 hover:bg-blue-700 px-4 py-2 rounded text-lg">Back</button>
          </div>
        </div>
    </nav>

    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md text-center">
        <h1 class="text-2xl font-bold mb-4">Sentence Scramble Minigame</h1>
        <p class="text-gray-600 mb-6">Rearrange the scrambled sentence into its correct order</p>
        <div id="scrambledSentence" class="text-xl font-semibold text-blue-500 mb-4"></div>
        <div id="author" class="text-xl font-semibold text-blue-500 mb-4">Said by: </div>
        <textarea class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4" name="textarea" id="userGuess" placeholder="Type the correct sentence here"></textarea>
        <br>
        <button id="submitbutton" onclick="checkAnswer()"
                class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 focus:outline-none">
            Submit
        </button>
        <p id="result" class="mt-4 font-semibold"></p>
        <button id="nextSentence" onclick="nextScrambledSentence()"
                class="bg-gray-400 text-white px-6 py-2 rounded-lg hover:bg-gray-500 focus:outline-none mt-4">
            Next Sentence
        </button>
    </div>

    <script data-api_key="{{api_key}}">
        function getQuote()
        {
        var data = document.currentScript.dataset
        var api_key = data.api_key;
        var api_url = "{{api_url}}";
        var server_id = "{{server_id}}";
        document.getElementById('scrambledSentence').textContent = "Loading Quote...";
        togleButtonVisibility(false);

        const other_params = {
            method: 'GET', 
            headers: {
            'Authorization': `Api-Key ${api_key}`,
            'Content-Type': 'application/json'
            }
        };
        var full_url = api_url + `${server_id}/`;
      
        fetch(full_url, other_params)
            .then(response => {
            if (response.ok) {
                return response.json(); 
            } else {
                throw new Error('API request failed');
            }
        })
            .then(data => {
              rand_index = Math.floor(Math.random() * data.length);
              var quote = data[rand_index];
              displaySentence(quote['quote'], quote['author']);
            })
            .catch(error => {
              console.error(error);
            });
        }
      </script>

</body>
</html>
